body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  color:  white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  color:  white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.icon-primary {
  color: var(--primary);
  font-size: 3.5em;
}

.form-control {
  border-color: var(--primary);
}
/* color palette */
:root {
  --primary: #5b3e29;
  --secondary: #F5EAD7;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
